* { box-sizing: border-box; margin: 0; padding: 0; }

html, body, #root {
  height: 100%;
}

body {
  font-family: var(--font-stack);
  background: var(--bg-app);
  color: var(--text-main);
}

#root {
  display: flex;
  flex-direction: column;
}
